@media only screen and (min-width: 460px) {
    body{
        width: 80%;
    }
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 95%;
    background-color: rgb(85, 84, 81);
    background: linear-gradient(#FBB335, #FFD014,#F19600 );
}


.background-image {
    background-image: url('site-pics/istockphoto-bucket list 1.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh; 
  }
  
  .text-on-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff; /* Change this value as per your requirement */
    text-align: center; /* Change this value as per your requirement */
    font-size: 2rem; /* Change this value as per your requirement */
  }
  

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid black; */
    gap: 10px;
    font-family: 'Indie Flower', cursive;
    font-size: larger;
    animation-timing-function: steps(7s);

        
    
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-image: url('site-pics/istockphoto-bucket list 1.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh; 
    width: 99%;
}

footer{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 99%;
    height: 1.5rem;
}

#title{
    margin-bottom: 10px;
}

.title-space{
    text-align: center;
}

#welcome-button {
    font-size: 25px;
    margin: 15px;
}

.welcome-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(228, 193, 137, 0.302);
    background-color: #e8d2a7aa;
    border-radius: 35%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    max-width: 95%;
    margin: 10px;
    padding:1rem;
    text-align: center;
    /* border-radius: 8px; */
}


.main-area{
    width: 95%;
    height: 95%;
}

.api-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border:2px solid green;
    height: 6rem;
    padding:1%;
    margin:1%;
}

.idea-field{
    background-color: beige;
    padding:1%;
    width: 75%;
    text-align: center;
}
.decision-buttons{
    display: flex;
    justify-content: space-around;
    border: 2px dotted yellow;
    width: 95%;
    height: 2rem;
    padding:1%;
}

#like-button{
    width: auto;
    height: 100%;
    padding:1%;
}
#dislike-button{
    width: auto;
    height: 100%;
}
.bucket-buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* This class is used to hide elements as the app progresses */
.hide{
    display: none;
}

.second-body {
    display: flex;
    justify-content: space-around;
}
.lastDivSection {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

button {
    width: auto;
}
.footerSection {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
   
  
}
.topHeadButtons {
    display: flex;
    justify-content: space-between;
}

textarea {
    outline-style: hidden;
    size-adjust: auto;
}


.bucketContainer{
    margin-bottom: 15%;
}
.stepsContainer{}
.timeFrameContainer{
    display: flex;
    }

.plan-area{
    width: 100%;
    border: 1px solid blue;
}


.bucketContainer {
    /* border: 2px solid black; */
    gap: 10px;
    display: flex;
    flex-direction: row;
    height: auto;
};
.plannedList{
    width: 50%;
    height: auto;
}
.unplannedList{
    width: 50%;
    height: auto;
}









