@media only screen and (min-width: 460px) {
    body{
        background-color: lightgrey;
    }
}
/* Primary styling for mobile sized view
Further stylings for larger screens added to media queries below */

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 95%;
    background-color: lightblue;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    gap: 10px;
    
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    gap: 10px;
}

footer{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    gap: 10px;
}

#title{
    margin-bottom: 10px;
}

.title-space{
    text-align: center;
}

#welcome-button {
    font-size: 25px;
    margin: 15px;
}

.welcome-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    max-width: 95%;
    margin: 10px;
    padding:1rem;
    text-align: center;
}


.main-area{
    width: 95%;
    height: 95%;
}

.api-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border:2px solid green;
    height: 6rem;
    padding:1%;
    margin:1%;
}

.idea-field{
    background-color: beige;
    padding:1%;
    width: 75%;
    text-align: center;
}
.decision-buttons{
    display: flex;
    justify-content: space-around;
    border: 2px dotted yellow;
    width: 95%;
    height: 2rem;
    padding:1%;
}

#like-button{
    width: auto;
    height: 100%;
    padding:1%;
}
#dislike-button{
    width: auto;
    height: 100%;
}

/* This class is used to hide elements as the app progresses */
.hide{
    display: none;
}

.second-body {
    display: flex;
    justify-content: space-around;
}
.lastDivSection {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}




button {
    width: auto;
}
.footerSection {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
}
.topHeadButtons {
    display: flex;
    justify-content: space-between;
}

textarea {
    outline-style: hidden;
    size-adjust: auto;
}

.stepsContainer{}

.timeFrameContainer{}

 .planContainer {
width: auto;
padding: 5px;
}